@import "vars.scss";

h1{
    color: $principal-color;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: $font-bold;
    font-style: italic;
}

p {
    color: green;
    font-weight: $font-bold;
}

.div__flex-container {
    display: flex;
    .div__flex-box {
        width: 90px;
        height: 90px;
        border: $standard-border;
        background-color: $principal-color;
        margin: 15px;
    }
    .div__flex-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}